body {
    font-family: Arial;
    background: #e9f0ff;
    padding: 30px;
}

.container {
    width: 40%;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    padding: 10px 20px;
    background: #064f9c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.fields {
    display: none;
}

h1 {
    color: #064f9c;
}

